body, html {
  height: 100vh;
}
body { 
  background-image: url(./resources/login/bg.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
.transparent-title {
  opacity: .6;
}
.align-center {
  text-align: center;
  color: white;
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

/* Map */
.map {
  position: relative;
  height: 90vh;
  overflow: hidden
}

.row-top {
  margin: 0%;
}
nav {
  height: 10vh;
  line-height: 10vh;
}
/** CLOSE BUTTON **/
.close__icon {
  width: 1rem;
  height: 1rem;
}
.pointer {
  cursor: pointer;
}
.row .col {
  padding: 0rem;
  margin: 0rem;
}
.layer-list {
  border: none;
  height:90vh;
  overflow:auto;
}

.confirm-email-text {
  padding-left: 0.75rem;
  margin-top: 0.75rem;
}
i.icon-black {
  color: black;
}
